.contactUsText{
    padding-top: 40px;
    text-align: center;
    font-family: sans-serif;
    margin: auto;
    width: 80%;
}
.sub-heading{
    color: rgba(178, 144, 36, 1);
    font-size: 35px;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-weight: 400;
    /* text-transform: unset; */
    letter-spacing: 2px;
    max-width : 100%;
}
.line-heading{
    max-width: 100%;
}
.hhead{
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: rgb(27, 27, 27);
    word-spacing: 1px;
    letter-spacing: 0.5px;
}
.quote{
    font-size: 20px;
    font-weight: bold;
}
.paraDiv{
    padding: 25px 0;
}
.msgButton{
    border-radius: 25px;
    padding: 10px 25px;
    background-color: rgb(69, 90, 100);
    color: white;
}
.buttonText{
    font-size: 15px;
    font-weight: bold;
}
.companyName{
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: rgb(27, 27, 27);
    word-spacing: 1px;
    letter-spacing: 2px;
    text-shadow: 1em;
    margin: 20px;
}
.address{
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: rgb(27, 27, 27);
}
.mblNum{
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: rgba(178, 144, 36, 1);
}
.email{
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 1.25;
    font-weight: 400;
    color: rgba(178, 144, 36, 1);
}
.middle-heading{
    color: rgba(178, 144, 36, 1);
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    font-weight: 400;
    /* text-transform: unset; */
    letter-spacing: 2px;
    max-width : 100%;
}
.wtsapSvg{
    height: 20px;
    margin: 5px;
    align-items: center;
}
.center{
    margin: auto;
    width: 35%;
    /* border: 3px solid green; */
}
.socialLogos{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}
.instaLogo{
    margin: 5px;
    padding: 5px;
    height: 60px;
}
.linkedinLogo{
    margin: 5px;
    padding: 5px;
    height: 58px;
}
.pinterestLogo{
    margin: 5px;
    padding: 5px;
    height: 55px;
}
.twitterLogo{
    margin: 5px;
    padding: 5px;
    height: 63px;
}
.youtubeLogo{
    margin: 5px;
    padding: 5px;
    height: 60px;
}
.copyrightcss{
    font-size: 12px;
    line-height: 1.5;
    margin-top: 50px;
}

@media screen and (max-width: 475px) {

    .center{
        margin: auto;
        width: 100%;
    }

    .socialLogos{
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
    .center{
        margin: auto;
        width: 100%;
    }
}