<div class="contactUsText">
    <div>
        <div class="sub-heading">
            <hr class="line-heading">
            Contact Us
            <hr class="line-heading">
        </div>
        <div class="paraDiv">
            <div>
                <p class="hhead">We'd love to hear from you</p>
                <p class="quote">"Don't wait, The time will never be just right." - Napolean Hill</p>
                <button class="msgButton">
                    <label class="buttonText">
                        <img class="wtsapSvg"
                            src="assets/svg/whatsapp.svg">Message us on WhatsApp</label>
                </button>
                <p class="companyName">Vihaan Solar Pvt. Ltd.</p>
                <p class="address">
                    1st Floor, Model House, Plot No: 115 & 116.
                    Punjagutta, Hyderabad, 500082
                </p>
                <p class="mblNum">+91-6302609074</p>
                <p class="email">praveen.vihaansolar@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="middle-heading">
        <hr class="line-heading">
        Connect With Us
        <hr class="line-heading">
    </div>
    <div class="center">
        <div class="socialLogos">
            <img class="instaLogo" src="assets/svg/instagram.svg">
            <img class="linkedinLogo" src="assets/svg/linkedin.svg">
            <img class="pinterestLogo" src="assets/svg/pinterest.svg">
            <img class="twitterLogo" src="assets/svg/twitter.svg">
            <img class="youtubeLogo" src="assets/svg/youtube.svg">
        </div>
    </div>
    <div>
        <p class="copyrightcss">Copyright © VIHAAN SOLAR PVT. LTD. - All Rights Reserved.</p>
    </div>
</div>