<div class="contactUsText">
    <div>
        <div class="sub-heading">
            <hr class="line-heading">
            Contact Us
            <hr class="line-heading">
        </div>
        <div>
            <div>
                <p class="hhead">We'd love to hear from you</p>
                <p class="quote">"Don't wait, The time will never be just right." - Napolean Hill</p>
                <button class="msgButton"><img class="wtsappImg" src="../../../assets/whatsappImg.jpeg" alt=""><label class="buttonText">Message us on WhatsApp</label></button>
                <p class="companyName">Vihaan Solar Pvt. Ltd.</p>
                <p class="address">
                    1st Floor, Model House, Plot No: 115 & 116.
                    Punjagutta, Hyderabad, 500082
                </p>
                <p class="mblNum">+91-6302609074</p>
                <p class="email">praveen.vihaansolar@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="sub-heading">
        <hr class="line-heading">
        Connect With Us
        <hr class="line-heading">
    </div>
    <div>
        <i class="bi bi-whatsapp"></i>
    </div>
</div>