<div class="productsPage">
    <div class="productsIntro">
        <p><b class="boldLetters">Vihaan</b><b> Solar...</b></p>
        <p><i class="italicsLetters">We</i> are dedicated to revolutionizing the way you harness energy through our
            cutting-edge product offerings. Explore our comprehensive range of solar solutions designed to meet your
            diverse needs and
            transform your space into an eco-friendly powerhouse.</p>
    </div>
    <div class="col-lg-8 collapsibleProducts">
        <p><b>Our Products :</b></p>
        <div id="accordion">
            <div class="card cardCenter">
                <div class="card-header headerCenter" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            <b>Solar Roof Top Systems</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <p>Elevate your energy independence with our Solar Roof Top Systems. These seamlessly integrated
                            solar panels adorn your rooftop, capturing sunlight and converting it into clean, renewable
                            energy.
                            Enjoy reduced electricity bills and a greener footprint, all while enhancing the aesthetic
                            appeal of
                            your space.</p>
                    </div>
                </div>
            </div>
            <div class="card cardCenter">
                <div class="card-header headerCenter" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <b>Residential Solar Solutions</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Solar has become one of the most common sources of electricity, especially in the
                        residential sector. Millions of homes around the globe are adopting this resources to slash the
                        electricity bills. But modern power needs are evolving. Rather than roof-mounted solar panels
                        that
                        affects the aesthetics of a building, people turning towards like roof tiles and BIPVs.(Building
                        integrated photovoltaics). we are providing for solutions that produce energy and also visually
                        appearing. A unique solar powered pergola especially designed to meet the unique energy
                        requirements of
                        residential sector!
                    </div>
                </div>
            </div>
            <div class="card cardCenter">
                <div class="card-header headerCenter" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <b>Ground Mounted Solutions</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        For spaces with ample ground area, our Ground Mounted Solutions offer an efficient way to
                        harness
                        solar energy. These systems are expertly designed, ensuring optimal energy capture and
                        efficiency, making them ideal for large residential estates and commercial properties.
                    </div>
                </div>
            </div>
            <div class="card cardCenter">
                <div class="card-header headerCenter" id="headingFour">
                    <h5 class="mb-0">
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <b>Solar Tracking Systems</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                    <div class="card-body">
                        Maximize your energy output with our Solar Tracking Systems. These innovative solutions follow
                        the sun's path, optimizing sunlight exposure throughout the day. By dynamically adjusting the
                        angle of the solar panels, we ensure you get the most out of every ray, enhancing your energy
                        yield significantly.
                    </div>
                </div>
            </div>
            <div class="card cardCenter">
                <div class="card-header headerCenter" id="headingFive">
                    <h5 class="mb-0">
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <b>Hybrid Solutions</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                    <div class="card-body">
                        Embrace the future of energy with our Hybrid Solutions. Integrating solar power with other
                        renewable sources or traditional electricity grids, these systems offer flexibility and
                        reliability. Experience uninterrupted power supply, even during adverse weather conditions, with
                        our advanced hybrid solutions.
                    </div>
                </div>
            </div>
            <div class="card cardCenter">
                <div class="card-header headerCenter" id="headingSix">
                    <h5 class="mb-0">
                        <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                            aria-expanded="false" aria-controls="collapseOne">
                            <b>Off-Grid Solutions</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                    <div class="card-body">
                        Our Off-Grid Solutions provide energy independence, even in remote locations. Perfect for
                        off-grid homes, farms, or businesses, these systems combine solar power with efficient energy
                        storage. Enjoy consistent power supply without relying on traditional electricity grids,
                        empowering you to live sustainably.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-10 chooseUs">
        <p><b>Why Choose Us?</b></p>
        <div>
            <p><i>Innovation and Reliability:</i> Our products are at the forefront of innovation, ensuring you receive
                the
                most advanced and reliable solar solutions in the market.</p>
            <p><i>Design Excellence:</i> We elevate solar solutions through thoughtful and innovative design. Our
                commitment to excellence
                ensures that our solar systems seamlessly integrate into your environment, harmonizing functionality
                with aesthetics. We prioritize not only the efficiency and performance of our products but also their
                visual appeal.
            </p>
            <p><i>Expert Installation:</i> Our skilled technicians guarantee seamless installation, maximizing the
                efficiency
                and longevity of your solar systems.</p>
            <p><i>Environmental Commitment:</i> We are dedicated to reducing carbon footprints and promoting sustainable
                living
                through our eco-friendly solutions.</p>
            <p><i>Customer Focus:</i> Your satisfaction is our priority. We provide exceptional customer service,
                offering
                guidance and support throughout your renewable energy journey.</p>
            <p><i>Embrace the Power of the Sun:</i>Join us in embracing a brighter, sustainable future. With [Your
                Company Name], you can harness the power
                of the sun to transform your space, reduce your energy costs, and contribute to a cleaner planet.
                Contact us today and let's embark on this renewable energy journey together.
            </p>
        </div>
    </div>
    <div class="copyrightcss">
        <p>Copyright © VIHAAN SOLAR PVT. LTD. - All Rights Reserved.</p>
    </div>
</div>