<nav>
    <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="bi bi-grid-fill"></i>
        </label>
    <label><a routerLink=""><img class="imgLogo" src="../../assets/photos/logo.png" alt=""></a></label>
    <ul>
        <li><a routerLink="" (click)="hideNavbar()">Home</a></li>
        <li><a routerLink="aboutUs" (click)="hideNavbar()">About Us</a></li>
        <li><a routerLink="designServices" (click)="hideNavbar()">Design Services</a></li>
        <li><a routerLink="products" (click)="hideNavbar()">Products</a></li>
        <li><a routerLink="contactUs" (click)="hideNavbar()">Contact Us</a></li>
    </ul>
</nav>