<nav>
    <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="bi bi-grid-fill"></i>
        </label>
    <label><a routerLink=""><img class="imgLogo" src="../../assets/photos/logo.png" alt=""></a></label>
    <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="aboutUs">About Us</a></li>
        <li><a routerLink="designServices">Design Services</a></li>
        <li><a routerLink="products">Products</a></li>
        <li><a routerLink="contactUs">Contact Us</a></li>
    </ul>
</nav>