<div class="nav-bar">
    <div class="navText">
        <div>
            <img class="imgLogo" src="../../assets/photos/logo.png" alt="">
        </div>
        <div class="fieldIcons">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="aboutUs">About Us</a></li>
                <li><a routerLink="designServices">Design Services</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">USA</a></li>
                            <li><a href="#">India</a></li>
                        </ul>
                    </div>
                </li>
                <li><a routerLink="products">Products</a>
                    <div class="sub-menu-1">
                        <ul>
                            <li><a href="#">Solar Rooftop Systems</a></li>
                            <li><a href="#">Residential Solar Solutions</a></li>
                            <li><a href="#">Ground Mounted Solutions</a></li>
                            <li><a href="#">Solar Tracking Systems</a></li>
                            <li><a href="#">Hybrid Solutions</a></li>
                            <li><a href="#">Off-Grid Solutions</a></li>
                        </ul>
                    </div>
                </li>
                <li><a routerLink="careers">Careers</a></li>
                <li><a routerLink="contactUs">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>