<div class="designSerivcesText">
    <p class="redText">From Hyderabad to Houston, We Design for You</p>
    <h1>Designing Tomorrow in India and the USA</h1>

    <div class="columns">
        <div class="column-1">
            <div class="column-inner">
                <h1 class="column-inner-heading">Solar Permit Designs</h1>
                <p class="redText">Our Permit Package Encompasses</p>
                <div class="column-inner-text">
                    forefront player in the design of meticulous solar permit plans. With an unwavering commitment to
                    excellence, we specialize in delivering comprehensive permit packages tailored for both residential
                    and commercial solar systems.
                    <div class="column-inner-text-below">
                        <p>Site Plan of the Property: A detailed overview of the property, meticulously crafted to
                            ensure accurate placement and alignment of solar panels for optimal efficiency.</p>
                        <p>Schematic of Solar Panel Layout: A precisely designed visual representation of the proposed
                            solar panel layout, demonstrating the strategic placement and interconnection of panels.</p>
                        <p>Single-Line & Three-Line Diagrams: Thorough electrical layout and calculations, providing a
                            clear and concise representation of the solar system's electrical components.</p>
                        <p>Warning Labels: Ensuring compliance with safety standards, our permit package includes
                            warning labels to enhance safety awareness during installation and maintenance.</p>
                        <p>Tech Sheets: Comprehensive technical sheets offering in-depth information on the solar
                            components, ensuring a seamless understanding for installers and authorities.</p>
                        <p>Residential & Commercial System Expertise:</p>
                        <p>Whether it's a residential rooftop installation or a large-scale commercial project, our
                            expert team tailors permit designs to meet the unique requirements of each client. Our
                            commitment extends beyond designs; we strive to facilitate the smooth approval process for
                            hassle-free installations.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="column-2">
            <div class="column-inner">
                <h1 class="column-inner-heading">Solar Preliminary Designs</h1>
                <p class="redText">Key Features</p>
                <div class="column-inner-text">
                    we prioritize transparency and efficiency in bringing solar solutions to your doorstep. Our advanced
                    preliminary design and production analysis reports serve as your compass in navigating the world of
                    solar energy.
                    <div class="column-inner-text-below">
                        <p>Annual Production and Shading Calculation: Gain insights into your solar system's potential
                            with accurate calculations of annual production and shading, ensuring you harness optimal
                            power.</p>
                        <p>Residential & Commercial Solutions in 2 Hours: Need a quick turnaround? We've got you
                            covered. Our dedicated team provides preliminary designs for both residential and commercial
                            systems within a swift 2-hour window.</p>
                        <p>Utilizing Cutting-Edge Tools: We leverage the power of AuroraSolar, Helioscope, and Scanifly
                            integrated, web-based applications. These tools simulate physical layouts, power production,
                            offsets, and system designs based on your specific information and goals.</p>
                        <p>Our commitment is not just to design but to empower you with the knowledge needed to make
                            informed decisions. Let Vihaan Solar be your partner in the journey towards optimal power
                            production, seamlessly blending technology and efficiency.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column-3">
            <div class="column-inner">
                <h1 class="column-inner-heading">As-Built Drawings</h1>
                <p class="redText">--</p>
                <div class="column-inner-text">
                    our commitment extends beyond the planning stage. Our As-Built Prelim & Permit Plan is a testament
                    to the precision and accuracy we bring to every solar installation project.
                    <div class="column-inner-text-below">
                        <p>Reflecting Reality: Our As-Built Drawings showcase the actual installed solar system,
                            meticulously documented based on post-installation pictures. It's the bridge between the
                            planned and the realized.</p>
                        <p>Comprehensive Documentation: From module placement to electrical connections, our As-Built
                            Prelim & Permit Plan provides a comprehensive overview of your installed solar system,
                            ensuring accuracy for future reference and maintenance.</p>
                        <p>Transparent Deliverables: We believe in transparency. With our As-Built Drawings, you get a
                            clear representation of your solar system as it stands post-installation, aligning
                            expectations with reality.</p>
                        <p>Choose Vihaan Solar for a solar partner that goes beyond the blueprint, delivering As-Built
                            Drawings that reflect the excellence of your installed solar system.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="our-services">
        <p class="redText">Solar Ingenuity for a Sustainable India</p>
        <h1>Our Services</h1>
        <div class="our-services-column">
            <div class="col-lg-6 our-services-column-1">
                <div class="our-services-column-inner">
                    <img src="../../../assets/photos/preliminary Design.jpeg" alt="" class="image-class">
                    <h1>Preliminary Design</h1>
                    <p>where innovation meets sustainability in the realm of solar energy. Our expert team takes
                        pride
                        in
                        offering cutting-edge Preliminary Solar Designs tailored for the unique landscape of India.
                        Swift
                        Turnaround: Experience the efficiency of our services with a rapid turnaround time for
                        preliminary
                        solar designs, ensuring you receive detailed plans promptly. Tailored for India's Diversity:
                        From
                        the bustling urban landscapes to serene rural settings, our designs are crafted to
                        seamlessly
                        integrate with the diverse environments across India. Precision with Purpose: Our
                        preliminary
                        designs go beyond the basics. We meticulously analyze factors such as solar exposure,
                        regional
                        climate variations, and local regulations to provide designs that optimize energy
                        production.
                        Technology-Driven Solutions: Leveraging state-of-the-art tools and technology, including
                        [mention
                        any specific tools you use], we simulate your solar project's potential, allowing you to
                        envision
                        the impact before installation. Transparent Collaboration: We believe in transparent
                        communication.
                        Collaborate with us to understand the intricacies of your solar project through detailed
                        preliminary
                        designs that align with your vision.</p>
                </div>
            </div>
            <div class="col-lg-6 our-services-column-2">
                <div class="our-services-column-inner">
                    <img src="../../../assets/photos/Detailed Engineering.jpeg" alt="" class="image-class">
                    <h1>Detailed Engineering</h1>
                    <p>we redefine precision with our unparalleled detailed engineering drawings service. Our expert
                        team
                        transforms concepts into concrete plans, providing a roadmap for seamless project execution.
                        Key
                        Features: Thorough Analysis: Dive deep into the intricacies of your project with our
                        detailed
                        engineering drawings. We leave no stone unturned, conducting thorough analyses to ensure
                        accuracy
                        and efficiency. Blueprints for Success: Our drawings serve as the blueprint for success,
                        offering a
                        detailed visual representation of your project. From structural components to intricate
                        details,
                        we
                        capture it all with meticulous precision. Compliance Assurance: Navigate regulatory
                        landscapes
                        with
                        confidence. Our detailed engineering drawings adhere to industry standards and regulatory
                        requirements, ensuring a smooth approval process. Technology-Driven Solutions: Embrace the
                        future
                        with cutting-edge technology integrated into our drawing processes. Benefit from digital
                        advancements that enhance accuracy and streamline the engineering workflow. Customization
                        for
                        Your
                        Needs: Every project is unique, and so are our drawings. Tailored to meet your specific
                        requirements, our detailed engineering drawings align seamlessly with your project goals.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 our-services-column-3">
                <div class="our-services-column-inner">
                    <img src="../../../assets/photos/CEIG Approvals.jpeg" alt="" class="image-class">
                    <h1>CEIG Approvals</h1>
                    <p>Embark on a journey of electrical compliance and safety with Vihaan Solar. Our CEIG Approval
                        Drawings
                        service ensures your electrical installations meet the rigorous standards set by the Chief
                        Electrical Inspectorate. Key Features: Regulatory Adherence: Navigate the regulatory
                        landscape
                        seamlessly with our CEIG Approval Drawings. We meticulously craft drawings that align with
                        the
                        stringent requirements laid out by the Chief Electrical Inspectorate. Comprehensive
                        Documentation:
                        From circuit diagrams to load calculations, our drawings provide a comprehensive
                        documentation
                        of
                        your electrical installations. Each detail is thoughtfully captured to facilitate a smooth
                        approval
                        process. Expert Precision: Benefit from the expertise of our team in translating technical
                        specifications into precise drawings. We understand the importance of accuracy in achieving
                        CEIG
                        approval. Timely Submission: Time is of the essence. Our streamlined processes ensure that
                        you
                        receive CEIG Approval Drawings promptly, expediting the submission process and reducing
                        approval
                        timelines. Transparent Communication: Stay informed throughout the approval journey. We
                        maintain
                        transparent communication, keeping you updated on the progress and any necessary adjustments
                        required for compliance.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="experience">
        <div class="experience-inner">
            <p>Give You the best Solutions</p>
            <div class="experience-inner-text">
                <h1>After So Many Years Of Experience</h1>
                <p>We Summarize Our Values As, Treat Our Custom With A Grateful Heart, Love and Dedication, Pay
                    attention to
                    Practice Results, Improve Management, improve Quality and Strengthen.


                    Vihaan is an icon with the meaning of Young, energetic, Professional and international vision
                    business
                    value. Our mission is to provide Our Clients with expertise solutions and Quality services by
                    building
                    up a professional servicing network and experienced engineer teams.</p>
            </div>
        </div>

    </div>
</div>