<div class="homeText">
    <div class="hSolar">
        <div class="col-lg-6 hSolarText">
            <h1 class="hhead">A Solar Design Service Provider</h1>
            <p class="htext">Providing Solar EPC and Design Services</p>
        </div>
        <div class="col-lg-6 divImg">
            <img class="solarImg" src="../../../assets/photos/homePageSolar.jpeg"
                alt="home page solar image is here...">
        </div>
    </div>
    <div class="solarSoltions">
        <div class="col-lg-4">
            <h1 class="servicesHeader">Solar Design Services</h1>
            <p class="servicesText">At our company, we specialize in providing cutting-edge Solar Permit Designs
                tailored to meet the unique needs of your solar energy projects. With a team of dedicated experts, we
                offer meticulous and precise designs that adhere to all regulations and standards. Our Solar Permit
                Designs streamline the permitting process, ensuring swift approvals and hassle-free installations for
                both residential and commercial solar projects. Whether you're a homeowner or a solar installation
                company, our comprehensive designs guarantee efficiency, accuracy, and compliance, allowing you to focus
                on harnessing the power of solar energy without the complexities of permit-related challenges. Trust us
                to transform your solar vision into a reality with our expertly crafted Solar Permit Designs." We are
                one of the leading company in designing solar permit plans in USA. Our permit package includes a site
                plan of the property, a detailed schematic of the proposed solar panel layout, single-line & three-line
                diagrams for electrical layout & calculations, warning labels, and tech sheets.</p>
            <div class="specsGroup">
                <p class="servicesSpecs">Solar Preliminary Designs</p>
                <p class="servicesSpecs">As-Built Drawings</p>
                <p class="servicesSpecs">Interconnection, Permitting, Monitoring & PTO Applications</p>
            </div>
        </div>
        <div class="col-lg-4">
            <h1 class="servicesHeader">Residential solar Solutions</h1>
            <p class="servicesText">Solar has become one of the most common sources of electricity, especially in the
                residential sector. Millions of homes around the globe are adopting this resources to slash the
                electricity bills. But modern power needs are evolving. Rather than roof-mounted solar panels that
                affects the aesthetics of a building, people turning towards like roof tiles and BIPVs.(Building
                integrated photovoltaics). we are providing for solutions that produce energy and also visually
                appearing. A unique solar powered pergola especially designed to meet the unique energy requirements of
                residential sector!</p>
            <div class="specsGroup">
                <p class="servicesSpecs">1 Hour drawing Finalized</p>
                <p class="servicesSpecs">10 - years Warranty.</p>
                <p class="servicesSpecs">25 - Years Generation Guaranty</p>
                <p class="servicesSpecs">Services with in 48 hours turnaround time.</p>
            </div>
        </div>
        <div class="col-lg-4">
            <h1 class="servicesHeader">Solar Rooftop & Ground Mounted Solutions</h1>
            <p class="servicesText">Elevate your energy independence with our Solar Roof Top Systems. These seamlessly
                integrated solar panels adorn your rooftop, capturing sunlight and converting it into clean, renewable
                energy. Enjoy reduced electricity bills and a greener footprint, all while enhancing the aesthetic
                appeal of your space. For spaces with ample ground area, our Ground Mounted Solutions offer an efficient
                way to harness solar energy. These systems are expertly designed, ensuring optimal energy capture and
                efficiency, making them ideal for large residential estates and commercial properties.</p>
            <div class="specsGroup">
                <p class="servicesSpecs">Excellent Quality Assurance</p>
                <p class="servicesSpecs">Professional Technical Advice.</p>
                <p class="servicesSpecs">Fully Customize -Mad Personalized Consultant Serviceable.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="buildingBlock">
            <img class="handshakeImg" src="../../../assets/photos/shakeHand.jpg" alt="Image of handshake is here...">
            <div class="textOnImage">
                <p>Build Custom Steps</p>
                <h1>We Will Help You Every Step Of The Way</h1>
                <p>Our mission is to provide our customer with expertise solution and quality service by build up a
                    professional servicing network and experienced engineer team. VIHAAN provides professional solution,
                    characteristic product design, all-day and all-direction service.</p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <p class="redText">What can we do for you?</p>
            <h1 class="h1Text">About Us</h1>
            <div class="aboutUsCards">
                <div class="col-lg-4">
                    <span class="number">1</span>
                    <h1>Long Term Solar Relations</h1>
                    <p>Our solar services have been explicitly designed to help you & to make long-term relationships and business connections between solar companies, homeowners and businesses.</p>
                </div>
                <div class="col-lg-4">
                    <span class="number">2</span>
                    <h1>Solar Professionals You Can Trust</h1>
                    <p>We have an in-house team of solar engineers & designers who can help you manage all aspects of your solar energy project including Design, Engineering, Procurement and Services.</p>
                </div>
                <div class="col-lg-4">
                    <span class="number">3</span>
                    <h1>Satisfaction Guaranteed</h1>
                    <p>One stop shop for all Solar related services. We are here to help you hit your target and provide utilities that help smooth out the learning curve in this leading industry.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="solarSoltions">
        <div class="col-lg-6">
            <p>Got questions? We'd love to hear from you.</p>
            <h1>Contact Us</h1>
            <p><i class="bi bi-geo-alt"></i> 1st Floor, Model House, Plot No: 115 & 116. Punjagutta</p>
            <p><i class="bi bi-telephone"></i> +91-6302609074</p>
            <p><i class="bi bi-envelope"></i> praveen.vihaansolar@gmail.com</p>
        </div>
        <div class="col-lg-6">
            <div>
                form for contact us
            </div>
        </div>
    </div>
</div>