.homeText {
    font-family: sans-serif;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 70px;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.copyrightcss{
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 100px;
}

.hSolarText {
    position: relative;
}

.textHome {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}

.htext {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.solarImg {
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hSolar {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
}

.homeCard {
    text-align: justify;
    text-justify: inter-word;
    padding: 15px;
}

.servicesHeader {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.03em;
}

.solarSoltions {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
}

.servicesText {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.servicesSpecs {
    margin: 0px;
    padding: 8px 11px;
    background-color: rgb(252, 235, 235);
    font-weight: 600;
    font-size: 15px;
    border-radius: 9999px;
}

.specsGroup {
    box-sizing: border-box;
    display: flex;
    margin-top: 48px;
    flex-wrap: wrap;
    gap: 16px;
}

.buildingBlock {
    /* background-image: url(../../../assets/photos/shakeHand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    position: relative;
}

.handshakeImg {
    height: 450px;
    width: 100%;
    opacity: 0.8;
    filter: brightness(40%);
    border-radius: 50px;
    padding: 25px;
}

.textOnImage {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.redText {
    color: rgb(84, 82, 194);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.03em;
}

.h1Text {
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
}

.number {
    font-size: 40px;
    font-family: MaterialCommunityIcons;
    color: rgb(84, 82, 194);
}

.aboutUsCards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.questionText {
    margin: 10px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.solarSoltion {
    margin: 25px;
}

.rotatingCards {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cardRotate {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 0 5px;
    padding: 30px;
    height: 400px;
}
.cardFront {
    transform: rotateY(0deg);
}
.cardBack {
    font-size: 15px;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}
.cardRotate>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
}
.cardRotate:hover .cardFront {
    transform: rotateY(-180deg);
}
.cardRotate:hover .cardBack {
    transform: rotateY(0deg);
}
.card-img-top {
    height: 150px;
    border-radius: 5px;
}
.card-text-front{
    font-size: 14px;
}

@media screen and (max-width: 475px){
    .hSolarText {
        position: relative;
    }
    
    .textHome {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
    }
    
    .htext {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
    }
    
    .solarImg {
        overflow-clip-margin: content-box;
        overflow: clip;
        max-width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    
    .hSolar {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 50px;
    }
    
    .homeCard {
        text-align: justify;
        text-justify: inter-word;
        padding: 15px;
    }
    
    .servicesHeader {
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: -0.03em;
    }
    
    .solarSoltions {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin: 50px;
    }
    
    .servicesText {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }
    
    .servicesSpecs {
        margin: 0px;
        padding: 8px 11px;
        background-color: rgb(252, 235, 235);
        font-weight: 600;
        font-size: 15px;
        border-radius: 9999px;
    }
    
    .specsGroup {
        box-sizing: border-box;
        display: flex;
        margin-top: 48px;
        flex-wrap: wrap;
        gap: 16px;
    }
    
    .buildingBlock {
        /* background-image: url(../../../assets/photos/shakeHand.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */
        position: relative;
    }
    
    .handshakeImg {
        height: 450px;
        width: 100%;
        opacity: 0.8;
        filter: brightness(40%);
        border-radius: 50px;
        padding: 25px;
    }
    
    .textOnImage {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .redText {
        color: rgb(84, 82, 194);
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.03em;
    }
    
    .h1Text {
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: -0.04em;
    }
    
    .number {
        font-size: 40px;
        font-family: MaterialCommunityIcons;
        color: rgb(84, 82, 194);
    }
    
    .aboutUsCards {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .questionText {
        margin: 10px;
        font-size: large;
        font-weight: bold;
        font-style: italic;
    }
    
    .solarSoltion {
        margin: 25px;
    }
    
    .rotatingCards {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .cardRotate {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
        margin: 0 5px;
        padding: 10px;
        height: 250px;
    }
    .cardFront {
        transform: rotateY(0deg);
    }
    .cardBack {
        font-size: 10px;
        transform: rotateY(180deg);
        position: absolute;
        top: 0;
    }
    .cardRotate>div {
        backface-visibility: hidden;
        transition: transform 300ms;
        transition-timing-function: linear;
    }
    .cardRotate:hover .cardFront {
        transform: rotateY(-180deg);
    }
    .cardRotate:hover .cardBack {
        transform: rotateY(0deg);
    }
    .card-img-top {
        height: 95px;
        border-radius: 5px;
    }
    .card-title{
        font-size: 9px;
    }
    .card-text-front{
        font-size: 5px;
    }
    .card-text-back{
        padding: 0;
        font-size: 5px;
    }
    
}