.homeText {
    font-family: sans-serif;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 70px;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}

.hSolarText {
    position: relative;
}

.textHome {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}

.htext {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.solarImg {
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hSolar {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
}

.homeCard {
    text-align: justify;
    text-justify: inter-word;
    padding: 15px;
}

.servicesHeader {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.03em;
}

.solarSoltions {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
}

.servicesText {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.servicesSpecs {
    margin: 0px;
    padding: 8px 11px;
    background-color: rgb(252, 235, 235);
    font-weight: 600;
    font-size: 15px;
    border-radius: 9999px;
}

.specsGroup {
    box-sizing: border-box;
    display: flex;
    margin-top: 48px;
    flex-wrap: wrap;
    gap: 16px;
}

.buildingBlock {
    /* background-image: url(../../../assets/photos/shakeHand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    position: relative;
}

.handshakeImg {
    height: 450px;
    width: 100%;
    opacity: 0.8;
    filter: brightness(40%);
    border-radius: 10px;
    margin: 25px;
}

.textOnImage {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.redText {
    color: red;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.03em;
}

.h1Text {
    font-size: 42px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
}

.number {
    font-size: 40px;
    font-family: MaterialCommunityIcons;
    color: rgb(226, 54, 54);
}

.aboutUsCards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.questionText {
    margin: 10px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
.solarSoltion {
    margin: 25px;
}