<div class="homeText">
    <div class="hSolar">
        <div class="col-lg-6 hSolarText">
            <div class="textHome">
                <h1 class="hhead">A Solar Design Service Provider</h1>
                <p class="htext">Providing Solar EPC and Design Services</p>
            </div>
        </div>
        <div class="col-lg-6 divImg">
            <img class="solarImg" src="../../../assets/photos/homePageSolar.jpeg"
                alt="home page solar image is here...">
        </div>
    </div>
    <div class="rotatingCards">
        <div class="col-lg-4 card cardRotate">
            <div class="cardFront">
                <img class="card-img-top" src="../../../assets/svg/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Engineering Services</h5>
                    <p class="card-text-front">Leading solar engineering services provider, ensuring top-tier design precision
                        and compliance with industry standards for efficient and sustainable solar power solutions.</p>
                </div>
            </div>
            <div class="cardBack">
                <div class="card-body">
                    <p class="card-text-back">
                        We are a prominent firm specializing in the creation of solar permit sets, as
                        well as the development of single line diagrams (SLD) and three line diagrams (TLD) for
                        electrical layouts and calculations. Our expertise lies in designing systems that adhere to the
                        National Electrical Code (NEC) standards, guaranteeing the highest level of safety and
                        efficiency for solar installations. <br><br>
                        Specializing in Indian solar design services, our expertise ensures meticulous planning and
                        compliance with local regulations, delivering optimal and sustainable solar solutions.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 card cardRotate">
            <div class="cardFront">
                <img class="card-img-top" src="../../../assets/svg/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Residential Solar Solutions</h5>
                    <p class="card-text-front">Transforming homes with our residential solar services, we offer tailored
                        solutions
                        for clean energy, efficiency, and sustainable living.</p>
                </div>
            </div>
            <div class="cardBack">
                <div class="card-body">
                    <p class="card-text-back">
                        Solar has become one of the most common sources of electricity, especially in the residential
                        sector. Millions of homes around the globe are adopting this resource to slash their electricity
                        bills. <br><br>
                        But modern power needs are evolving.
                        Rather than roof-Mounted solar panels that affect the aesthetics of a building, people are
                        turning towards innovations like roof tiles and Building-integrated photovoltaics (BIPVs).
                        Consumers nowadays are looking for solutions that don't just produce energy but are also
                        visually appearing.
                        Enter Vihaan solar a Unique solar-powered pergola especially designed to meet the unique energy
                        requirements of the residential sector.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 card cardRotate">
            <div class="cardFront">
                <img class="card-img-top" src="../../../assets/svg/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Industrial Solar Solutions (Rooftop & Ground Mounted Solutions)</h5>
                    <p class="card-text-front">Revolutionize industrial energy with our Solar Solutions for Industries. Tailored
                        for maximum efficiency, our innovative solar solutions empower businesses to enhance sustainability,
                        reduce costs, and optimize energy consumption for a brighter, greener future.</p>
                </div>
            </div>
            <div class="cardBack">
                <div class="card-body">
                    <p class="card-text-back">
                        Embark on an energy revolution with Vihaan Solar Solutions for Industries. Our cutting-edge solar solutions redefine the industrial energy landscape, offering tailored efficiency for businesses seeking sustainable practices. By harnessing the power of the sun, we empower industries to enhance environmental stewardship, simultaneously cutting costs and optimizing energy consumption. Our innovative approach goes beyond traditional methods, ensuring a brighter, greener future. Vihaan Solar Solutions is committed to providing industrial establishments with the means to achieve energy independence, reduce their carbon footprint, and contribute to a more sustainable tomorrow, all while maintaining peak operational efficiency and cost-effectiveness.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="buildingBlock">
            <img class="handshakeImg" src="../../../assets/photos/shakeHand.jpg" alt="Image of handshake is here...">
            <div class="textOnImage">
                <p>Build Custom Steps</p>
                <h1>We Will Help You Every Step Of The Way</h1>
                <p>Our mission is to provide our customer with expertise solution and quality service by build up a
                    professional servicing network and experienced engineer team. VIHAAN provides professional solution,
                    characteristic product design, all-day and all-direction service.</p>
            </div>
        </div>
    </div>
    <div class="homeCard">
        <div>
            <h1 class="h1Text">About Us</h1>
            <div class="aboutUsCards">
                <div class="col-lg-4">
                    <span class="number">1</span>
                    <h1>Long Term Solar Relations</h1>
                    <p class="homeCard">Our solar services have been explicitly designed to help you & to make long-term
                        relationships
                        and business connections between solar companies, homeowners and businesses.</p>
                </div>
                <div class="col-lg-4">
                    <span class="number">2</span>
                    <h1>Solar Professionals You Can Trust</h1>
                    <p class="homeCard">We have an in-house team of solar engineers & designers who can help you manage
                        all aspects of
                        your solar energy project including Design, Engineering, Procurement and Services.</p>
                </div>
                <div class="col-lg-4">
                    <span class="number">3</span>
                    <h1>Satisfaction Guaranteed</h1>
                    <p class="homeCard">One stop shop for all Solar related services. We are here to help you hit your
                        target and provide
                        utilities that help smooth out the learning curve in this leading industry.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="solarSoltions">
        <div class="col-lg-12">
            <p>Got questions? We'd love to hear from you.</p>
            <h1>Contact Us</h1>
            <p><i class="bi bi-geo-alt"></i> 1st Floor, Model House, Plot No: 115 & 116. Punjagutta</p>
            <p><i class="bi bi-telephone"></i> +91-6302609074</p>
            <p><i class="bi bi-envelope"></i> praveen.vihaansolar@gmail.com</p>
        </div>
        <!-- <div class="col-lg-6">
            <div>
                form for contact us
            </div>
        </div> -->
    </div>
    <div class="col-lg-12 solarSoltion">
        <div>
            <p class="questionText">Have a question? We've got answers.</p>
            <h1>Frequently Asked Questions</h1>
            <div>
                <div class="accordion" id="faq">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <b>What services does your Solar EPC Company offer?</b>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#faq">
                            <div class="accordion-body">
                                We offer comprehensive services including site assessment, system design, equipment
                                procurement, project management, and construction of solar power plants.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <b>What types of solar projects do you undertake?</b>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#faq">
                            <div class="accordion-body">
                                We undertake a variety of projects, including utility-scale solar farms, commercial
                                solar installations, industrial solar solutions, and residential solar systems.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <b>How was the system design optimized for the specific site?</b>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#faq">
                            <div class="accordion-body">
                                Our team conducts a thorough site assessment, considering factors such as energy needs,
                                available space, local climate conditions, and shading analysis to determine the optimal
                                system size.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <b>What reports are provided for solar proposal & Preliminary design?</b>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#faq">
                            <div class="accordion-body">
                                By leveraging tools like Aurora Solar and Helioscope for solar design and analysis, we
                                generate reports that pinpoint the ideal locations for solar installations. These
                                reports meticulously evaluate factors like irradiance, energy production, and other key
                                parameters to identify the most advantageous conditions.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <b>Do you provide maintenance services for solar installations?</b>
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faq">
                            <div class="accordion-body">
                                Yes, we offer ongoing maintenance services to ensure optimal performance and longevity
                                of the solar installation. Regular maintenance helps identify and address issues
                                proactively.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <b>What sets your Solar EPC services apart from others?</b>
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#faq">
                            <div class="accordion-body">
                                Our expertise, commitment to quality, and a customer-centric approach set us apart. We
                                prioritize delivering efficient and reliable solar solutions tailored to meet our
                                clients' specific needs.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrightcss">
        <p>Copyright © VIHAAN SOLAR PVT. LTD. - All Rights Reserved.</p>
    </div>
</div>