<div class="aboutUsPage">
    <div class="leadershipSection">
        <div class="sub-heading">
            <hr class="line-heading">
            Meet Our Leadership Team
            <hr class="line-heading">
        </div>
        <div class="cardHolder">
            <div class="card col-md-4">
                <div>
                    <img class="card-img-top" src="..." alt="Card image cap">
                </div>
                <p class="card-text">Praveen Gunda <span>(Director)</span></p>
            </div>
            <div class="card col-md-4">
                <div>
                    <img class="card-img-top" src="..." alt="Card image cap">
                </div>
                <p class="card-text">Kushal Singari <span>(Chief Operating Officer - USA)</span></p>
            </div>
            <div class="card col-md-4">
                <div>
                    <img class="card-img-top" src="..." alt="Card image cap">
                </div>
                <p class="card-text">Sravan Belde <span>(Chief Operating Officer - Singapore)</span></p>
            </div>
            <div class="card col-md-4">
                <div>
                    <img class="card-img-top" src="..." alt="Card image cap">
                </div>
                <p class="card-text">Rajendra Babu <span>(Marketing Analyst)</span></p>
            </div>
        </div>
    </div>
    <div class="aboutUsSection">
        <div class="sub-head">
            <hr class="line-head">
            {{aboutUsString}}
            <hr class="line-head">
        </div>
        <div>
            <div class="paraClass">
                <p class="col-lg-6 textClass">We specialize in delivering comprehensive solar design and engineering services
                    tailored to
                    the unique needs
                    of solar businesses, including preliminary production reports, permit designs, as-builts, PE stamps,
                    interconnection, permitting, monitoring, and PTO applications in both the USA and Singapore
                    markets.Renowned
                    as a market leader, we excel in providing customized end-to-end Solar Rooftop Power Solutions for
                    commercial
                    and industrial organizations across India. Our team comprises seasoned solar professionals with a
                    decade-long expertise in the industry. With our profound experience, we ensure the implementation of
                    proper
                    and essential measures to guarantee the success of your solar projects. Whether it's preliminary
                    planning or
                    the final execution, we offer comprehensive assistance for all aspects of your solar systems,
                    ensuring
                    efficiency and excellence at every step. <br>
                    <br>
                    Renowned as a market leader, we excel in providing customized end-to-end Solar
                    Rooftop
                    Power Solutions for
                    commercial and industrial organizations across India. Our team comprises seasoned solar
                    professionals
                    with a
                    decade-long expertise in the industry. With our profound experience, we ensure the implementation of
                    proper
                    and essential measures to guarantee the success of your solar projects. Whether it's preliminary
                    planning or
                    the final execution, we offer comprehensive assistance for all aspects of your solar systems,
                    ensuring
                    efficiency and excellence at every step.</p>
                <img class="col-lg-6 aboutUsSectionImage" src="../../../assets/photos/solar.jpeg" alt="solar panel is here...">
        </div>
    </div>
    <div class="visionSection">
        <div>
            <div class="sub-head">
                <hr class="line-head">
                Vision
                <hr class="line-head">
            </div>
            <p class="textClass">Empowering a Sustainable Future: Our vision at Vihaan Solar is to lead the global
                transition to renewable
                energy by providing unparalleled solar solutions. We envision a world where clean, efficient, and
                accessible
                solar power drives environmental stewardship, economic growth, and lasting prosperity for
                communities
                worldwide.</p>
        </div>
    </div>
    <div class="missionSection">
        <div class="sub-head">
            <hr class="line-head">
            Mission
            <hr class="line-head">
        </div>
        <p class="textClass">Innovating Solar Excellence: At Vihaan Solar, our mission is to deliver
            cutting-edge
            solar
            design and
            engineering services tailored to the diverse needs of solar businesses. We are dedicated to
            providing
            comprehensive preliminary production reports, permit designs, as-builts, PE stamps, interconnection
            services, permitting solutions, monitoring systems, and PTO applications in both the USA and
            Singapore
            markets. Renowned as market leaders, we specialize in crafting customized end-to-end Solar Rooftop
            Power
            Solutions for commercial and industrial organizations across India.</p>
    </div>
    <div class="ourCommitmentsSection">
        <div class="sub-head">
            <hr class="line-head">
            Our Commitments
            <hr class="line-head">
        </div>
        <p class="textClass"><b>Innovation and Expertise:</b> We strive for constant innovation, leveraging a
            team
            of seasoned
            solar
            professionals with a decade-long expertise, ensuring we remain at the forefront of the solar
            industry.
        </p>
        <p class="textClass"><b>Customized Solutions:</b> Tailoring our services to meet the unique needs of
            each
            client, we
            provide
            comprehensive assistance, from preliminary planning to final execution, guaranteeing efficiency and
            excellence at every stage of your solar projects.</p>
        <p class="textClass"><b>Environmental Leadership:</b> We are committed to reducing carbon emissions and
            combating
            climate change by
            promoting the adoption of renewable energy solutions globally.</p>
        <p class="textClass"><b>Client Success:</b> Our success is measured by the success of our clients. We
            are
            dedicated to
            ensuring the
            implementation of proper and essential measures to guarantee the success of every solar project we
            undertake.</p>
        <p class="textClass"><b>Global Impact:</b> By offering unparalleled solar solutions, we contribute to a
            sustainable
            future, driving
            environmental conservation, economic advancement, and social well-being across the globe.</p>
    </div>
</div>