.aboutUsPage{
    padding-top: 30px;
    margin: auto;
    width: 80%;
}
.sub-heading{
    color: rgba(178, 144, 36, 1);
    font-size: 35px;
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-weight: 400;
    /* text-transform: unset; */
    letter-spacing: 2px;
    max-width : 100%
}
.line-heading{
    max-width: 100%;
}
.sub-head{
    color: rgba(178, 144, 36, 1);
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    font-weight: 400;
    /* text-transform: unset; */
    letter-spacing: 1px;
    max-width : 100%
}
.line-head{
    max-width: 100%;
}
.textClass{
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
}
.paraClass{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
.commitments{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 8px;
}
.visionMission{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
.cardHolder{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    z-index: 0;
    margin: auto;
}
.card{
    border: none;
    margin: 5px;
}
.aboutUsSectionImage{
    height: 350px;
    /* width: 400px; */
    margin: 70px 0;
    border-radius: 10px;
}

.copyrightcss{
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 100px;
}