<div class="aboutUsPage">
    <div class="leadershipSection">
        <div class="sub-heading">
            <hr class="line-heading">
            Meet Our Leadership Team
            <hr class="line-heading">
        </div>
        <div class="cardHolder">
            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/svg/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Praveen Gunda <span>(Director)</span></h6>
                </div>
            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/svg/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Kushal Singari <span>(Chief Operating Officer - USA)</span></h6>
                </div>
            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/svg/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Sravan Belde <span>(Chief Operating Officer - Singapore)</span></h6>
                </div>
            </div>
            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="../../../assets/svg/download.svg" alt="Card image cap">
                <div class="card-body">
                    <h6 class="card-title">Rajendra Babu <span>(Marketing Analyst)</span></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutUsSection">
        <div class="sub-head">
            <hr class="line-head">
            {{aboutUsString}}
            <hr class="line-head">
        </div>
        <div>
            <div class="paraClass">
                <p class="col-lg-6 textClass">We specialize in delivering comprehensive solar design and engineering
                    services tailored to the unique needsof solar businesses, including preliminary production reports,
                    permit designs, as-builts, PE stamps, interconnection, permitting, monitoring, and PTO applications
                    in both the USA and Singapore markets.Renowned as a market leader, we excel in providing customized
                    end-to-end Solar Rooftop Power Solutions for commercial and industrial organizations across India.
                    Our team comprises seasoned solar professionals with a decade-long expertise in the industry. With
                    our profound experience, we ensure the implementation of proper and essential measures to guarantee
                    the success of your solar projects. Whether it's preliminary planning or the final execution, we
                    offer comprehensive assistance for all aspects of your solar systems, ensuring efficiency and
                    excellence at every step. <br><br>
                    Renowned as a market leader, we excel in providing customized end-to-end Solar Rooftop Power
                    Solutions for commercial and industrial organizations across India. Our team comprises seasoned
                    solar professionals with a decade-long expertise in the industry. With our profound experience, we
                    ensure the implementation of proper and essential measures to guarantee the success of your solar
                    projects. Whether it's preliminary planning or the final execution, we offer comprehensive
                    assistance for all aspects of your solar systems, ensuring efficiency and excellence at every step.
                </p>
                <img class="col-lg-6 aboutUsSectionImage" src="../../../assets/photos/solar.jpeg"
                    alt="solar panel is here...">
            </div>
            <div class="visionMission">
                <p class="col-lg-6 textClass"><b>Vision : </b>Empowering a Sustainable Future: Our vision at Vihaan
                    Solar
                    is to lead the global
                    transition to renewable
                    energy by providing unparalleled solar solutions. We envision a world where clean, efficient, and
                    accessible
                    solar power drives environmental stewardship, economic growth, and lasting prosperity for
                    communities
                    worldwide.</p>
                <p class="col-lg-6 textClass"><b>Mission : </b>Innovating Solar Excellence: At Vihaan Solar, our mission
                    is to
                    deliver cutting-edge solar design and engineering services tailored to the diverse needs of solar
                    businesses. We are dedicated to providing comprehensive preliminary production reports, permit
                    designs, as-builts, PE stamps, interconnection services, permitting solutions, monitoring systems,
                    and PTO applications in both the USA and Singapore markets. Renowned as market leaders, we
                    specialize in crafting customized end-to-end Solar Rooftop Power Solutions for commercial and
                    industrial organizations across India.</p>
            </div>
            <div class="commitments">
                <p class="textClass">
                    <b>Our Commitments : </b><br><br>
                    <i>Innovation and Expertise:</i> We strive for constant innovation, leveraging a
                    team of seasoned solar professionals with a decade-long expertise, ensuring we remain at the
                    forefront of the solar industry. <br>
                    <i>Customized Solutions:</i> Tailoring our services to meet the unique needs of
                    each client, we provide comprehensive assistance, from preliminary planning to final execution,
                    guaranteeing efficiency and excellence at every stage of your solar projects. <br>
                    <i>Environmental Leadership:</i> We are committed to reducing carbon emissions and
                    combating climate change by promoting the adoption of renewable energy solutions globally. <br>
                    <i>Client Success:</i> Our success is measured by the success of our clients. We
                    are dedicated to ensuring the implementation of proper and essential measures to guarantee the
                    success of every solar project we undertake. <br>
                    <i>Global Impact:</i> By offering unparalleled solar solutions, we contribute to a
                    sustainable future, driving environmental conservation, economic advancement, and social well-being
                    across the globe.
                </p>
            </div>
        </div>
    </div>
    <div class="copyrightcss">
        <p>Copyright © VIHAAN SOLAR PVT. LTD. - All Rights Reserved.</p>
    </div>
</div>